/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body { background-color: #FEFEFE; color:#000000; font-family: Helvetica, Tahoma, Arial, sans-serif; }

a
{
  color: #336699;
}
a:hover
{
  text-decoration: underline;
}
/* Headings */
h1
{
  font-size: 145%;
}

h1, h2
{
    border-bottom: 2px solid #EDEDED;
}

/* Table colors */
.TableHeadingColor
{
  background: #D1E29C; color:#000000;
  font-family: Tahoma, Arial, sans-serif;
} /* Dark mauve */
.TableSubHeadingColor
{
    background: #E4EBCE;
    color:#000000;
    font-family: Tahoma, Arial, sans-serif;
}
.TableRowColor
{
    background: #FFFFFF;
    color:#000000;
    
} /* White */

.TableRowColor td
{
    border: 1px solid; border-color: #AAAAAA;
}

.TableHeadingColor, .TableSubHeadingColor, .TableRowColor
{
  border: 1px solid #E4EBCE;
} /*  */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; font-family: Helvetica, Arial, sans-serif; color:#000000 }
.FrameHeadingFont { font-size:  90%; font-family: Helvetica, Arial, sans-serif; color:#000000 }
.FrameItemFont    { font-size:  90%; font-family: Helvetica, Arial, sans-serif; color:#000000 }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#E4EBCE; color:#000000} /* Light mauve */
.NavBarCell1Rev { background-color:#00008B; color:#FFFFFF} /* Dark Blue */
.NavBarFont1    { font-family: Arial, Helvetica, sans-serif; color:#000000;color:#000000;}
.NavBarFont1Rev { font-family: Arial, Helvetica, sans-serif; color:#FFFFFF;color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF; color:#000000}
.NavBarCell3    { font-family: Arial, Helvetica, sans-serif; background-color:#FFFFFF; color:#000000}

hr { border: 1px solid #D1E29C }

table
{
  border: 0px dashed;
}
th { border: 1px }
tr { border: 1px solid; border-color: #AAAAAA; }
td {  }
/* Colour Lovers
http://www.colourlovers.com/palette/1392493/Android
Smog: #464D5C
Android Robot: #A4C639
Pastel Green: #D1E29C
Decay: #E4EBCE
Ebonics 444: #F0F0F0
*/